openapi: 3.2.0
info:
  title: External Insurance API
  x-logo:
    url: https://storage.googleapis.com/ritten-ops-public-logos/rittenBanner
    backgroundColor: '#FFFFFF'
    altText: Ritten Logo
  description: 'For Ritten Integrating Partners


    ## Authentication


    - Request an access token with your provided integration credentials (`client_id` and `client_secret`) by calling our token endpoint:

    ```bash

    curl https://api.ritten.io/v1/oauth/token \

    -X POST \

    -H ''content-type: application/json'' \

    -d ''{"client_id":"${client_id}","client_secret":"${client_secret}","audience":"https://external-api.ritten.io","grant_type":"client_credentials"}''

    ```

    - Take the `access_token` from the response and use that as…'
  version: 1.0.0
servers:
- url: https://api.ritten.io/v1
tags:
- name: Insurance
paths:
  /insurance/payers:
    get:
      tags:
      - Insurance
      summary: List insurance payers
      description: Lists all insurance payers in the system
      operationId: listInsurancePayers
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Payer'
  /insurance/payers/{id}:
    get:
      tags:
      - Insurance
      summary: Retrieve an insurance payer by ID
      description: Returns a single insurance payer
      operationId: getInsurancePayerById
      parameters:
      - name: id
        in: path
        description: ID of insurance payer to return
        required: true
        schema:
          type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payer'
        400:
          description: Invalid ID supplied
        404:
          description: Insurance payer not found
components:
  schemas:
    Payer:
      type: object
      properties:
        id:
          type: string
          example: 182c2e54-3494-4b85-aba5-038cf539d5bf
        payerIdentifier:
          type: string
        payerGroupId:
          type: string
          example: 15b57ab4-9247-468e-85db-d86f7897207f
        name:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        notes:
          type: string
