openapi: 3.2.0
info:
  title: External Users API
  x-logo:
    url: https://storage.googleapis.com/ritten-ops-public-logos/rittenBanner
    backgroundColor: '#FFFFFF'
    altText: Ritten Logo
  description: 'For Ritten Integrating Partners


    ## Authentication


    - Request an access token with your provided integration credentials (`client_id` and `client_secret`) by calling our token endpoint:

    ```bash

    curl https://api.ritten.io/v1/oauth/token \

    -X POST \

    -H ''content-type: application/json'' \

    -d ''{"client_id":"${client_id}","client_secret":"${client_secret}","audience":"https://external-api.ritten.io","grant_type":"client_credentials"}''

    ```

    - Take the `access_token` from the response and use that as…'
  version: 1.0.0
servers:
- url: https://api.ritten.io/v1
tags:
- name: Users
paths:
  /staff:
    get:
      tags:
      - Users
      summary: List all clinic staff users
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
      operationId: getStaff
      x-operation-id-source: derived
  /users:
    post:
      tags:
      - Users
      summary: Create a new user
      description: Creates a new user in the system
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  description: The user's first name
                  example: John
                lastName:
                  type: string
                  description: The user's last name
                  example: Doe
                email:
                  type: string
                  description: The user's email address
                  example: john@example.com
              required:
              - firstName
              - lastName
              - email
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: The new user's ID
                  newUserPassword:
                    type: string
                    description: The new user's initial password
      operationId: postUsers
      x-operation-id-source: derived
  /users/{id}:
    delete:
      tags:
      - Users
      summary: Delete a user
      description: Deletes a user by ID
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of user to delete
      responses:
        200:
          description: User deleted successfully
      operationId: deleteUsersById
      x-operation-id-source: derived
  /users/{id}/roles:
    post:
      tags:
      - Users
      summary: Assign a role to a user
      description: Assigns a role to a user by user ID
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of user to assign role to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                roleId:
                  type: string
                  format: uuid
                  description: ID of role to assign
              required:
              - roleId
      responses:
        200:
          description: Role assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDSchema'
      operationId: postUsersByIdRoles
      x-operation-id-source: derived
  /users/{id}/roles/{roleID}:
    delete:
      tags:
      - Users
      summary: Remove a role from a user
      description: Removes a role from a user by user ID and role ID
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of user to remove role from
      - name: roleID
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: ID of role to remove
      responses:
        200:
          description: Role removed successfully
      operationId: deleteUsersByIdRolesByRoleID
      x-operation-id-source: derived
  /teams:
    get:
      tags:
      - Users
      summary: List all clinic teams
      description: Lists all the clinic teams and their users.
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClinicTeam'
      operationId: getTeams
      x-operation-id-source: derived
components:
  schemas:
    IDSchema:
      type: object
      properties:
        id:
          type: string
          example: 182c2e54-3494-4b85-aba5-038cf539d5bf
    User:
      type: object
      properties:
        id:
          type: string
          example: 182c2e54-3494-4b85-aba5-038cf539d5bf
        email:
          type: string
          example: johndoe@ritclinic.ritten.io
        first:
          type: string
          example: Doe
        middle:
          type: string
        last:
          type: string
          example: John
        lastAccessedAt:
          type: string
          format: date-time
          nullable: true
          description: Timestamp of the user's most recent app session start (set when the user loads the app). Null if the user has never logged in.
          example: '2024-01-15T14:32:00Z'
    ClinicTeam:
      type: object
      properties:
        id:
          type: string
          example: 182c2e54-3494-4b85-aba5-038cf539d5bf
        name:
          type: string
          example: Cool Team
        userIds:
          type: array
          items:
            type: string
            example: f87e1b07-1d20-4c36-8c37-08600daf7322
