openapi: 3.2.0
info:
  title: External Encounters API
  x-logo:
    url: https://storage.googleapis.com/ritten-ops-public-logos/rittenBanner
    backgroundColor: '#FFFFFF'
    altText: Ritten Logo
  description: 'For Ritten Integrating Partners


    ## Authentication


    - Request an access token with your provided integration credentials (`client_id` and `client_secret`) by calling our token endpoint:

    ```bash

    curl https://api.ritten.io/v1/oauth/token \

    -X POST \

    -H ''content-type: application/json'' \

    -d ''{"client_id":"${client_id}","client_secret":"${client_secret}","audience":"https://external-api.ritten.io","grant_type":"client_credentials"}''

    ```

    - Take the `access_token` from the response and use that as…'
  version: 1.0.0
servers:
- url: https://api.ritten.io/v1
tags:
- name: Encounters
  description: 'Endpoints for creating clinical encounters (visits) and discovering the

    encounter types they are created from.'
paths:
  /encounters:
    post:
      tags:
      - Encounters
      summary: Create an encounter
      description: 'Creates a new, empty encounter (visit) on a patient''s chart from an encounter

        type. Use `GET /encounter-types` to discover the available types. The

        encounter starts at server time with no documentation; forms are attached

        separately via `POST /patients/{id}/forms`.


        The new encounter behaves exactly like one created in-app: forms and documents

        configured on the encounter type are seeded onto it, and billing artifacts are

        generated asynchronously for billable types. Requests are not idempotent:

        retrying a successful call creates a second encounter.'
      operationId: postEncounter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostEncounterBody'
      responses:
        200:
          description: Encounter created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Encounter'
        400:
          description: Invalid payload supplied
        404:
          description: Patient or encounter type not found (archived encounter types are treated as not found)
  /encounter-types:
    get:
      tags:
      - Encounters
      summary: List encounter types
      description: 'Lists the clinic''s active encounter types — the configured visit types that

        encounters are created from. Archived encounter types are never returned by

        the external API.'
      operationId: listEncounterTypes
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EncounterType'
components:
  schemas:
    AttendanceType:
      type: string
      description: Attendance status of an encounter. Defaults to Attended when omitted at creation.
      enum:
      - Attended
      - AttendedNotBillable
      - AbsentExcused
      - AbsentNotExcused
      - AbsentUnknown
      - AbsentBillable
    EncounterType:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Display name of the encounter type.
          example: Individual Therapy
        description:
          type: string
        isBillable:
          type: boolean
          description: Whether encounters of this type generate billing artifacts.
        isGroup:
          type: boolean
          description: Whether this type is used for group encounters.
        durationMinutes:
          anyOf:
          - type: integer
            format: int64
          - type: 'null'
          description: Default duration in minutes, when configured.
        createdAt:
          type: string
          format: date-time
          example: '2024-01-01T00:00:00Z'
    Encounter:
      type: object
      properties:
        id:
          type: string
          format: uuid
        patientId:
          type: string
          format: uuid
        encounterTypeId:
          type: string
          format: uuid
          description: ID of the encounter type the encounter was created from.
        name:
          type: string
          description: Display name of the encounter type.
          example: Individual Therapy
        status:
          type: string
          description: Documentation status of the encounter. New encounters always start Empty.
          enum:
          - Empty
          - Incomplete
          - Complete
        startTime:
          type: string
          format: date-time
          description: Start time of the encounter (server time at creation).
          example: '2024-01-01T00:00:00Z'
        attendanceType:
          $ref: '#/components/schemas/AttendanceType'
        createdAt:
          type: string
          format: date-time
          example: '2024-01-01T00:00:00Z'
    PostEncounterBody:
      type: object
      additionalProperties: false
      description: 'External create contract for encounters. The server assigns the encounter ID and start time on create.

        '
      required:
      - patientId
      - encounterTypeId
      example:
        patientId: d3f2c9a1-8b47-4e0f-a2c9-53f7f0c1b2aa
        encounterTypeId: 0b6a1f6e-2f9a-4c56-9d1c-6a3f6f9d2e11
        attendanceType: Attended
      properties:
        patientId:
          type: string
          format: uuid
          description: ID of the patient to create the encounter for.
        encounterTypeId:
          type: string
          format: uuid
          description: ID of the encounter type to create the encounter from. Use `GET /encounter-types` to discover types.
        attendanceType:
          $ref: '#/components/schemas/AttendanceType'
