openapi: 3.2.0
info:
  title: External Contacts API
  x-logo:
    url: https://storage.googleapis.com/ritten-ops-public-logos/rittenBanner
    backgroundColor: '#FFFFFF'
    altText: Ritten Logo
  description: 'For Ritten Integrating Partners


    ## Authentication


    - Request an access token with your provided integration credentials (`client_id` and `client_secret`) by calling our token endpoint:

    ```bash

    curl https://api.ritten.io/v1/oauth/token \

    -X POST \

    -H ''content-type: application/json'' \

    -d ''{"client_id":"${client_id}","client_secret":"${client_secret}","audience":"https://external-api.ritten.io","grant_type":"client_credentials"}''

    ```

    - Take the `access_token` from the response and use that as…'
  version: 1.0.0
servers:
- url: https://api.ritten.io/v1
tags:
- name: Contacts
paths:
  /contacts:
    get:
      tags:
      - Contacts
      summary: List contacts in a clinic
      description: Lists contacts in a clinic
      operationId: listContacts
      parameters:
      - name: limit
        in: query
        description: How many contacts to return at one time (max 20).
        schema:
          maximum: 20
          type: integer
          format: int64
      - name: offset
        in: query
        description: How many contacts to skip before returning the limit number of contacts. Use this to page.
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContacts'
    post:
      tags:
      - Contacts
      summary: Create a new contact
      description: Creates a new contact record
      operationId: createContact
      requestBody:
        content:
          application/json:
            schema:
              required:
              - first
              - last
              properties:
                first:
                  type: string
                  description: The contact's first name
                  example: John
                middle:
                  type: string
                  description: The contact's middle name
                last:
                  type: string
                  description: The contact's last name
                  example: Doe
                dob:
                  type: string
                  description: Date of birth (YYYY-MM-DD)
                  example: '1990-02-23'
                address:
                  $ref: '#/components/schemas/Address'
                contactPoints:
                  type: array
                  items:
                    $ref: '#/components/schemas/ContactPoint'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDetail'
        400:
          description: Invalid payload supplied
  /contacts/{id}:
    get:
      tags:
      - Contacts
      summary: Retrieve a contact by ID
      description: Returns a single contact
      operationId: getContactById
      parameters:
      - name: id
        in: path
        description: ID of contact to return
        required: true
        schema:
          type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDetail'
        400:
          description: Invalid ID supplied
        404:
          description: Contact not found
    patch:
      tags:
      - Contacts
      summary: Update a contact by ID
      description: 'Update a single contact. Returns the updated contact.

        Omitting a top-level field in the request body will leave it unchanged.'
      operationId: patchContact
      parameters:
      - name: id
        in: path
        description: ID of contact to update
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                first:
                  type: string
                  description: The contact's first name
                  example: John
                middle:
                  type: string
                  description: The contact's middle name
                last:
                  type: string
                  description: The contact's last name
                  example: Doe
                dob:
                  type: string
                  description: Date of birth (YYYY-MM-DD)
                  example: '1990-02-23'
                address:
                  $ref: '#/components/schemas/Address'
                contactPoints:
                  type: array
                  items:
                    $ref: '#/components/schemas/ContactPoint'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDetail'
        400:
          description: Invalid ID or payload supplied
        404:
          description: Contact not found
  /contacts/{id}/relationships:
    get:
      tags:
      - Contacts
      summary: List a contact's relationships
      description: Returns a list of relationships for a contact
      operationId: listContactRelationships
      parameters:
      - name: id
        in: path
        description: ID of contact to return relationships for
        required: true
        schema:
          type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactRelationship'
        400:
          description: Invalid ID supplied
        404:
          description: Contact not found
    post:
      tags:
      - Contacts
      summary: Create a new contact relationship
      description: Creates a new relationship between two contacts
      operationId: createContactRelationship
      parameters:
      - name: id
        in: path
        description: ID of contact to create a relationship for
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - personId
              - type
              properties:
                personId:
                  type: string
                  description: ID of the person to create a relationship with (patient or contact)
                type:
                  type: string
                  description: The type of relationship
      responses:
        200:
          description: success
        400:
          description: Invalid payload supplied
components:
  schemas:
    ContactRelationship:
      type: object
      properties:
        personId:
          type: string
          example: 182c2e54-3494-4b85-aba5-038cf539d5bf
        type:
          type: string
          description: The type of relationship
    ContactPoint:
      type: object
      properties:
        id:
          type: string
          example: 182c2e54-3494-4b85-aba5-038cf539d5bf
        system:
          type: string
          enum:
          - PHONE
          - EMAIL
          - FAX
        use:
          type: string
          enum:
          - HOME
          - WORK
          - MOBILE
          - PERSONAL
        value:
          type: string
        valueExt:
          type: string
          description: Extension for phone numbers
        isPrimary:
          type: boolean
        notes:
          type: string
    ContactDetail:
      allOf:
      - $ref: '#/components/schemas/Contact'
      - type: object
        properties:
          contactPoints:
            type: array
            items:
              $ref: '#/components/schemas/ContactPoint'
          address:
            $ref: '#/components/schemas/Address'
    Contact:
      type: object
      properties:
        id:
          type: string
          example: 182c2e54-3494-4b85-aba5-038cf539d5bf
        first:
          type: string
          example: John
        middle:
          type: string
        last:
          type: string
          example: Doe
        dob:
          type: string
          description: Date of birth
          example: '1990-02-23'
        mrn:
          type: string
          description: Ritten Medical Record Number (if applicable)
        email:
          type: string
          description: The contact's primary email address. Falls back to their most recently added email when none is marked primary, and is omitted when they have none.
          example: john@example.com
        createdAt:
          type: string
          format: date-time
          description: Contact record creation timestamp.
          example: '2024-01-01T00:00:00Z'
        organizations:
          type: array
          description: Organizations this contact is associated with. Omitted when they belong to none.
          items:
            $ref: '#/components/schemas/ContactOrganization'
    ListContacts:
      type: array
      items:
        $ref: '#/components/schemas/Contact'
    Address:
      type: object
      properties:
        id:
          type: string
          example: 182c2e54-3494-4b85-aba5-038cf539d5bf
        use:
          type: string
          enum:
          - HOME
          - WORK
          - OTHER
        country:
          type: string
          description: Country code or name. US variants (e.g., "US", "USA", "United States") are normalized to "US".
        line:
          type: string
        line2:
          type: string
        city:
          type: string
        region:
          type: string
          description: For US addresses, must be a valid 2-letter US state/territory code (e.g., "CA", "NY"). Common variants such as full state names and case variations are automatically normalized. For non-US addresses, accepts free-text state/province/region.
        postalCode:
          type: string
    ContactOrganization:
      type: object
      description: An organization a contact is associated with.
      properties:
        id:
          type: string
          format: uuid
          description: The organization's ID. Pass to GET /organizations/{id} for the full record.
          example: 9a5e64b0-0a73-4cb5-ab32-44fea16da4e1
        name:
          type: string
          example: Sunrise Recovery Center
        relationshipType:
          type: string
          description: How the contact relates to the organization. Omitted when unset.
          example: member
        isPrimary:
          type: boolean
          description: Whether this is the contact's primary organization.
