openapi: 3.2.0
info:
  title: External Programs API
  x-logo:
    url: https://storage.googleapis.com/ritten-ops-public-logos/rittenBanner
    backgroundColor: '#FFFFFF'
    altText: Ritten Logo
  description: 'For Ritten Integrating Partners


    ## Authentication


    - Request an access token with your provided integration credentials (`client_id` and `client_secret`) by calling our token endpoint:

    ```bash

    curl https://api.ritten.io/v1/oauth/token \

    -X POST \

    -H ''content-type: application/json'' \

    -d ''{"client_id":"${client_id}","client_secret":"${client_secret}","audience":"https://external-api.ritten.io","grant_type":"client_credentials"}''

    ```

    - Take the `access_token` from the response and use that as…'
  version: 1.0.0
servers:
- url: https://api.ritten.io/v1
tags:
- name: Programs
  description: Endpoints for creating, accessing, and managing clinic programs.
paths:
  /programs:
    post:
      tags:
      - Programs
      summary: Create a clinic program
      description: 'Creates a clinic program. Requires name, programType, and at least one levelOfCare entry.

        The server assigns the program ID; client-supplied id values and other unknown fields are rejected.

        levelOfCare entries must be exact catalog strings, unique, and compatible with programType.

        facilityId is optional.'
      operationId: postProgram
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostProgramBody'
      responses:
        201:
          description: Program created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicProgram'
        400:
          description: Invalid payload supplied
    get:
      tags:
      - Programs
      summary: List active programs in a clinic
      description: Lists active clinic programs with pagination and optional filters. Archived programs are never returned by the external API.
      operationId: listPrograms
      parameters:
      - name: facilityId
        in: query
        description: Filter programs by active facility ID.
        schema:
          type: string
          format: uuid
      - name: programType
        in: query
        description: Filter programs by type.
        schema:
          $ref: '#/components/schemas/ProgramType'
      - name: search
        in: query
        description: Case-insensitive search on program name.
        schema:
          type: string
          maxLength: 255
      - name: limit
        in: query
        description: How many programs to return at one time (max 200).
        schema:
          maximum: 200
          minimum: 1
          type: integer
          format: int64
          default: 200
      - name: offset
        in: query
        description: How many programs to skip before returning results. Use for pagination.
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 0
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPrograms'
        400:
          description: Invalid query parameters
  /programs/{id}:
    get:
      tags:
      - Programs
      summary: Get an active program
      description: Gets an active clinic program by ID. Archived programs are treated as not found.
      operationId: getProgram
      parameters:
      - name: id
        in: path
        required: true
        description: Program ID.
        schema:
          type: string
          format: uuid
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicProgram'
        404:
          description: Program not found
    patch:
      tags:
      - Programs
      summary: Update a clinic program
      description: 'Partially updates an active clinic program''s name and/or facility association.

        At least one of name or facilityId must be provided; omitted fields are left unchanged.

        programType and levelOfCare cannot be updated via this endpoint.

        A malformed facilityId UUID returns 400. A missing or archived facilityId returns 404.'
      operationId: patchProgram
      parameters:
      - name: id
        in: path
        required: true
        description: Program ID.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchProgramBody'
      responses:
        204:
          description: Program updated successfully.
        400:
          description: Invalid payload supplied
        404:
          description: Program not found, or referenced facility not found or archived
components:
  schemas:
    PatchProgramBody:
      type: object
      additionalProperties: false
      minProperties: 1
      description: 'Partial update body. At least one of name or facilityId must be provided.

        Omitted fields are left unchanged; programType and levelOfCare are not patchable.

        '
      properties:
        name:
          type: string
          description: Program name. Leading and trailing whitespace is trimmed.
          example: Residential
        facilityId:
          type: string
          format: uuid
          description: Active facility ID to associate with the program.
    ClinicProgram:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 182c2e54-3494-4b85-aba5-038cf539d5bf
        name:
          type: string
          example: Residential
        facility:
          anyOf:
          - $ref: '#/components/schemas/ProgramFacility'
          - type: 'null'
        programType:
          $ref: '#/components/schemas/ProgramType'
        levelOfCare:
          type: array
          items:
            $ref: '#/components/schemas/LevelOfCare'
        createdAt:
          type: string
          format: date-time
          example: '2024-01-01T00:00:00Z'
    ProgramFacility:
      type: object
      properties:
        id:
          type: string
          format: uuid
    LevelOfCare:
      type: string
      enum:
      - Early Intervention (0.5)
      - Outpatient Services (1.0)
      - Long-Term Remission Monitoring (1.0)
      - Outpatient Therapy (1.5)
      - Medically Managed Outpatient (1.7)
      - IOP/PHP - General (2)
      - IOP (2.1)
      - HIOP (High-Intensity Outpatient) (2.5)
      - PHP (2.5)
      - Medically Managed Intensive Outpatient (2.7)
      - Residential - General (3)
      - Clinically Managed Low-Intensity Residential Services (3.1)
      - Clinically Managed Population-Specific High-Intensity Services (3.2)
      - Clinically Managed High-Intensity Residential Services (3.5)
      - Medically Monitored Intensive Inpatient Services (3.7)
      - Medically Managed Residential (3.7)
      - Medically Managed Intensive Inpatient Services (4)
      - Ambulatory Detox Without Extended Onsite Monitoring (I-D)
      - Ambulatory Detox With Extended Onsite Monitoring (II-D)
      - Clinically Managed Residential Detoxification (III.2-D)
      - Medically Monitored Inpatient Detoxification (III.7-D)
      - Medically Managed Intensive Inpatient Detoxification (IV-D)
      - Sober Living
      - Recovery Residence
      - Case Management
      - Monitoring / Drug Testing
      - Peer Support
      - Advisory Services
      - Medication Management
      - Other
      - Other - Clinical
      - Level 3 (3)
      - Significant Treatment (3)
      - Level 4 (4)
      - Level 5 (5)
    ProgramType:
      type: string
      enum:
      - Clinical
      - Additional Service
    PostProgramBody:
      type: object
      additionalProperties: false
      description: 'External create contract with a limited field set. Does not accept id; the server assigns the program ID on create.

        '
      required:
      - name
      - programType
      - levelOfCare
      example:
        name: Residential Treatment
        programType: Clinical
        levelOfCare:
        - Clinically Managed High-Intensity Residential Services (3.5)
        facilityId: 182c2e54-3494-4b85-aba5-038cf539d5bf
      properties:
        name:
          type: string
          description: Program name. Leading and trailing whitespace is trimmed.
          example: Residential
        facilityId:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          description: Optional active facility ID to associate with the program.
        programType:
          $ref: '#/components/schemas/ProgramType'
        levelOfCare:
          type: array
          minItems: 1
          uniqueItems: true
          description: 'Exact catalog level-of-care values. Entries must be unique and compatible with programType

            (Clinical programs require clinical LOCs; Additional Service programs require non-clinical LOCs).

            '
          items:
            $ref: '#/components/schemas/LevelOfCare'
    ListPrograms:
      type: object
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
              example: 1
            totalCount:
              type: integer
              example: 10
        programs:
          type: array
          items:
            $ref: '#/components/schemas/ClinicProgram'
