openapi: 3.2.0
info:
  title: External Webhooks API
  x-logo:
    url: https://storage.googleapis.com/ritten-ops-public-logos/rittenBanner
    backgroundColor: '#FFFFFF'
    altText: Ritten Logo
  description: 'For Ritten Integrating Partners


    ## Authentication


    - Request an access token with your provided integration credentials (`client_id` and `client_secret`) by calling our token endpoint:

    ```bash

    curl https://api.ritten.io/v1/oauth/token \

    -X POST \

    -H ''content-type: application/json'' \

    -d ''{"client_id":"${client_id}","client_secret":"${client_secret}","audience":"https://external-api.ritten.io","grant_type":"client_credentials"}''

    ```

    - Take the `access_token` from the response and use that as…'
  version: 1.0.0
servers:
- url: https://api.ritten.io/v1
tags:
- name: Webhooks
  description: 'Ritten provides webhooks for various events that occur in the system.

    Integrating partners can subscribe to these events to receive real-time updates.


    Webhooks sent from Ritten are POST requests with a JSON body containing the event `type` and associated `data`.

    The schema for the `data` object will vary depending on the event type.

    ```

    {

    "type": "patient.admit",

    "data": {

    "patientId": "182c2e54-3494-4b85-aba5-038cf539d5bf",

    "programId": "9a5e64b0-0a73-4cb5-ab32-44fea16da4e1"

    }

    }

    ```'
paths: {}
webhooks:
  patient.admit:
    post:
      tags:
      - Webhooks
      description: A patient has been admitted to a clinic program
      requestBody:
        content:
          application/json:
            schema:
              properties:
                type:
                  type: string
                  description: The event type
                  example: patient.admit
                data:
                  type: object
                  properties:
                    patientId:
                      type: string
                      description: The ID of the patient
                      example: 182c2e54-3494-4b85-aba5-038cf539d5bf
                    programId:
                      type: string
                      description: The ID of the program the patient was admitted to
                      example: 9a5e64b0-0a73-4cb5-ab32-44fea16da4e1
      responses:
        200:
          description: 200 status indicates that the data was received successfully
      summary: Create patient admit
      x-summary-source: derived
  patient.transfer:
    post:
      tags:
      - Webhooks
      description: A patient has been transferred from one program to another
      requestBody:
        content:
          application/json:
            schema:
              properties:
                type:
                  type: string
                  description: The event type
                  example: patient.transfer
                data:
                  type: object
                  properties:
                    patientId:
                      type: string
                      description: The ID of the patient
                      example: 182c2e54-3494-4b85-aba5-038cf539d5bf
                    fromProgramId:
                      type: string
                      description: The ID of the program the patient was transferred from
                      example: 9a5e64b0-0a73-4cb5-ab32-44fea16da4e1
                    toProgramId:
                      type: string
                      description: The ID of the program the patient was transferred to
                      example: 1eddacc4-26b1-4e65-bf34-897e3be577c1
      responses:
        200:
          description: 200 status indicates that the data was received successfully
      summary: Create patient transfer
      x-summary-source: derived
  patient.discharge:
    post:
      tags:
      - Webhooks
      description: A patient has been discharged from a clinic program
      requestBody:
        content:
          application/json:
            schema:
              properties:
                type:
                  type: string
                  description: The event type
                  example: patient.discharge
                data:
                  type: object
                  properties:
                    patientId:
                      type: string
                      description: The ID of the patient
                      example: 182c2e54-3494-4b85-aba5-038cf539d5bf
                    programId:
                      type: string
                      description: The ID of the program the patient was discharged from
                      example: 9a5e64b0-0a73-4cb5-ab32-44fea16da4e1
      responses:
        200:
          description: 200 status indicates that the data was received successfully
      summary: Create patient discharge
      x-summary-source: derived
  case.status.update:
    post:
      tags:
      - Webhooks
      description: The status of a case has been updated
      requestBody:
        content:
          application/json:
            schema:
              properties:
                type:
                  type: string
                  description: The event type
                  example: case.status.update
                data:
                  type: object
                  properties:
                    caseId:
                      type: string
                      description: The ID of the case
                      example: 182c2e54-3494-4b85-aba5-038cf539d5bf
                    personSeekingTreatmentId:
                      type: string
                      description: The ID of the person seeking treatment. Can be empty if there is no person seeking treatment associated with the case.
                      example: 9a5e64b0-0a73-4cb5-ab32-44fea16da4e1
                    fromStatus:
                      type: string
                      description: The previous status of the case
                      example: New
                    toStatus:
                      type: string
                      description: The new status of the case
                      example: Qualified
      responses:
        200:
          description: 200 status indicates that the data was received successfully
      summary: Create case status update
      x-summary-source: derived
  case.created:
    post:
      tags:
      - Webhooks
      description: A new case has been created
      requestBody:
        content:
          application/json:
            schema:
              properties:
                type:
                  type: string
                  description: The event type
                  example: case.created
                data:
                  type: object
                  properties:
                    caseId:
                      type: string
                      description: The ID of the case
                      example: 182c2e54-3494-4b85-aba5-038cf539d5bf
                    personSeekingTreatmentId:
                      type: string
                      description: The ID of the person seeking treatment. Can be empty if there is no person seeking treatment associated with the case.
                      example: 9a5e64b0-0a73-4cb5-ab32-44fea16da4e1
                    status:
                      type: string
                      description: The status of the case
                      example: New
      responses:
        200:
          description: 200 status indicates that the data was received successfully
      summary: Create case created
      x-summary-source: derived
  patient.created:
    post:
      tags:
      - Webhooks
      description: A new patient has been created (MRN generated)
      requestBody:
        content:
          application/json:
            schema:
              properties:
                type:
                  type: string
                  description: The event type
                  example: patient.created
                data:
                  type: object
                  properties:
                    patientId:
                      type: string
                      description: The ID of the patient
                      example: 182c2e54-3494-4b85-aba5-038cf539d5bf
                    mrn:
                      type: string
                      description: The medical record number assigned to the patient
                      example: D31EBE
      responses:
        200:
          description: 200 status indicates that the data was received successfully
      summary: Create patient created
      x-summary-source: derived
