openapi: 3.2.0
info:
  title: External Calendar API
  x-logo:
    url: https://storage.googleapis.com/ritten-ops-public-logos/rittenBanner
    backgroundColor: '#FFFFFF'
    altText: Ritten Logo
  description: 'For Ritten Integrating Partners


    ## Authentication


    - Request an access token with your provided integration credentials (`client_id` and `client_secret`) by calling our token endpoint:

    ```bash

    curl https://api.ritten.io/v1/oauth/token \

    -X POST \

    -H ''content-type: application/json'' \

    -d ''{"client_id":"${client_id}","client_secret":"${client_secret}","audience":"https://external-api.ritten.io","grant_type":"client_credentials"}''

    ```

    - Take the `access_token` from the response and use that as…'
  version: 1.0.0
servers:
- url: https://api.ritten.io/v1
tags:
- name: Calendar
paths:
  /calendar/events/list:
    post:
      tags:
      - Calendar
      summary: Query calendar events
      description: Lists all calendar events that match the given query parameters. The POST body is the query object.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - startTime
              - endTime
              properties:
                entityIds:
                  type: array
                  items:
                    type: string
                    example: f87e1b07-1d20-4c36-8c37-08600daf7322
                startTime:
                  type: string
                  description: ISO Format DateTime
                  example: '2024-02-13T13:00:00-05:00'
                endTime:
                  type: string
                  description: ISO Format DateTime
                  example: '2024-02-13T23:59:59-05:00'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarEvent'
      operationId: postCalendarEventsList
      x-operation-id-source: derived
  /calendar/events:
    post:
      tags:
      - Calendar
      summary: Create a new calendar event
      description: Create a new calendar event.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CalendarEventCore'
              - type: object
                properties:
                  timezone:
                    type: string
                    example: America/New_York
                  encounterTemplateId:
                    type:
                    - string
                    - 'null'
                    example: null
                  reminderInterval:
                    $ref: '#/components/schemas/CalendarEventInterval'
                  notifyGuests:
                    type: boolean
                  guests:
                    type: array
                    items:
                      type: object
                      properties:
                        entityType:
                          type: string
                          enum:
                          - user
                          - patient
                          - clinic team
                          - group
                          - program
                          - care team
                        entityId:
                          type: string
                          example: f87e1b07-1d20-4c36-8c37-08600daf7322
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDSchema'
      operationId: postCalendarEvents
      x-operation-id-source: derived
components:
  schemas:
    IDSchema:
      type: object
      properties:
        id:
          type: string
          example: 182c2e54-3494-4b85-aba5-038cf539d5bf
    CalendarEventCore:
      type: object
      properties:
        id:
          type: string
          example: 182c2e54-3494-4b85-aba5-038cf539d5bf
        title:
          type: string
          example: Therapy Appointment
        description:
          type: string
        location:
          type: string
        startTime:
          type: string
          example: '2024-02-13T13:00:00-05:00'
        endTime:
          type: string
          example: '2024-02-13T13:00:00-05:00'
    CalendarEvent:
      allOf:
      - $ref: '#/components/schemas/CalendarEventCore'
      - type: object
        properties:
          frequency:
            type: string
            enum:
            - day
            - week
            - month
            - yeah
            - custom
          interval:
            $ref: '#/components/schemas/CalendarEventInterval'
          daysOfWeek:
            type: array
            items:
              type: string
              enum:
              - Monday
              - Tuesday
              - Wednesday
              - Thursday
              - Friday
              - Saturday
              - Sunday
          until:
            type:
            - string
            - 'null'
            example: '2024-02-13T13:00:00-05:00'
    CalendarEventInterval:
      type:
      - string
      - 'null'
      enum:
      - 0m
      - 15m
      - 30m
      - 1h
      - 24h
      - 2d
      - 3d
