openapi: 3.2.0
info:
  title: External Facilities API
  x-logo:
    url: https://storage.googleapis.com/ritten-ops-public-logos/rittenBanner
    backgroundColor: '#FFFFFF'
    altText: Ritten Logo
  description: 'For Ritten Integrating Partners


    ## Authentication


    - Request an access token with your provided integration credentials (`client_id` and `client_secret`) by calling our token endpoint:

    ```bash

    curl https://api.ritten.io/v1/oauth/token \

    -X POST \

    -H ''content-type: application/json'' \

    -d ''{"client_id":"${client_id}","client_secret":"${client_secret}","audience":"https://external-api.ritten.io","grant_type":"client_credentials"}''

    ```

    - Take the `access_token` from the response and use that as…'
  version: 1.0.0
servers:
- url: https://api.ritten.io/v1
tags:
- name: Facilities
  description: Endpoints for accessing clinic facilities (service locations).
paths:
  /facilities:
    get:
      tags:
      - Facilities
      summary: List active facilities in a clinic
      description: Lists active clinic facilities with pagination and optional filters.
      operationId: listFacilities
      parameters:
      - name: createdAfter
        in: query
        description: Return facilities created after this timestamp (ISO 8601).
        schema:
          type: string
          format: date-time
      - name: search
        in: query
        description: Case-insensitive search on facility name.
        schema:
          type: string
          maxLength: 255
      - name: limit
        in: query
        description: How many facilities to return at one time (max 20).
        schema:
          maximum: 20
          minimum: 1
          type: integer
          format: int64
          default: 20
      - name: offset
        in: query
        description: How many facilities to skip before returning results. Use for pagination.
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 0
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFacilities'
        400:
          description: Invalid query parameters
    post:
      tags:
      - Facilities
      summary: Create a facility in a clinic
      description: Creates a clinic facility. The request must include name, nationalProviderId, phone, and address.
      operationId: postFacility
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostFacilityBody'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Facility'
        400:
          description: Invalid payload supplied
  /facilities/{id}:
    patch:
      tags:
      - Facilities
      summary: Update a facility
      description: Updates an active facility.
      operationId: patchFacility
      parameters:
      - name: id
        in: path
        required: true
        description: Facility ID.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchFacilityBody'
      responses:
        204:
          description: Facility updated successfully.
        400:
          description: Invalid payload supplied
        404:
          description: Facility not found
components:
  schemas:
    PatchFacilityBody:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        name:
          type: string
          description: Facility name. Leading and trailing whitespace is trimmed.
          example: Ritten Recovery Center
    Address:
      type: object
      properties:
        id:
          type: string
          example: 182c2e54-3494-4b85-aba5-038cf539d5bf
        use:
          type: string
          enum:
          - HOME
          - WORK
          - OTHER
        country:
          type: string
          description: Country code or name. US variants (e.g., "US", "USA", "United States") are normalized to "US".
        line:
          type: string
        line2:
          type: string
        city:
          type: string
        region:
          type: string
          description: For US addresses, must be a valid 2-letter US state/territory code (e.g., "CA", "NY"). Common variants such as full state names and case variations are automatically normalized. For non-US addresses, accepts free-text state/province/region.
        postalCode:
          type: string
    Facility:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        nationalProviderId:
          type: string
          description: National Provider Identifier (NPI)
        phone:
          type: string
          description: Primary facility phone number
          example: '+15555555555'
        createdAt:
          type: string
          format: date-time
          example: '2024-01-01T00:00:00Z'
    PostFacilityBody:
      type: object
      required:
      - name
      - nationalProviderId
      - phone
      - address
      properties:
        name:
          type: string
          description: Facility name.
          example: Ritten Recovery Center
        nationalProviderId:
          type: string
          description: National Provider Identifier (NPI)
          example: '1234567890'
        phone:
          type: string
          description: Primary facility phone number
          example: 555-555-5555
        address:
          $ref: '#/components/schemas/PostFacilityAddress'
    ListFacilities:
      type: object
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
              example: 1
            totalCount:
              type: integer
              example: 10
        facilities:
          type: array
          items:
            $ref: '#/components/schemas/Facility'
    PostFacilityAddress:
      type: object
      required:
      - line
      properties:
        country:
          type: string
          description: Country code or name. US variants (e.g., "US", "USA", "United States") are normalized to "US".
          example: US
        line:
          type: string
          description: Street address line 1.
          example: 123 Main St
        line2:
          type: string
          description: Street address line 2.
          example: Suite 100
        city:
          type: string
          example: New York
        region:
          type: string
          description: For US addresses, must be a valid 2-letter US state/territory code or recognizable state name.
          example: NY
        postalCode:
          type: string
          example: '10001'
        timezone:
          type: string
          description: IANA timezone identifier.
          example: America/New_York
