openapi: 3.1.0
info:
  title: External API
  x-logo:
    url: "https://storage.googleapis.com/ritten-ops-public-logos/rittenBanner"
    backgroundColor: "#FFFFFF"
    altText: "Ritten Logo"
  description: |
    For Ritten Integrating Partners

    ## Authentication

    - Request an access token with your provided integration credentials (`client_id` and `client_secret`) by calling our token endpoint:
    ```bash
    curl https://api.ritten.io/v1/oauth/token \
      -X POST \
      -H 'content-type: application/json' \
      -d '{"client_id":"${client_id}","client_secret":"${client_secret}","audience":"https://external-api.ritten.io","grant_type":"client_credentials"}'
    ```
    - Take the `access_token` from the response and use that as the `Bearer` token in your requests to our API.
    - Tokens are long-lived (24 hours / `expires_in: 86400`). The token endpoint also caches server-side, so rapid repeat calls won't hit Auth0 — but feel free to cache the access_token locally if you prefer.
    - The token endpoint itself does not require a Bearer token; the `client_secret` in the body is the authentication.

    > **Note:** When working in non-production environments, the API endpoints (and `audience` value) will be different.
    > For example, in the `beta` environment, the token endpoint is `https://api.beta.ritten.io/v1/oauth/token`
    > and the audience is `https://external-api.beta.ritten.io`.

    ## Tenant Header

    - Make sure to add the tenant ID to the header of every request. This is the Ritten Clinic instance the request will target. Example:
    ```
    X-Ritten-Tenant: ritclinic
    ```
    
    ## Rate Limiting

    Two layers of rate limiting apply: per-request limits on API calls, and per-app limits on token minting.

    ### API request rate limit

    Applied to authenticated API calls (everything except `/v1/oauth/token`):

    - 50 requests per second sustained rate
    - 100 requests burst allowance

    You can make up to 100 requests in a short burst, but over time your average must stay at or below 50 requests per second. Think of it as a bucket that holds 100 tokens and refills at 50 tokens per second. Each request consumes one token. You'll receive a `429 Too Many Requests` response when this is triggered.

    ### Token mint quota (Auth0)

    A separate per-application limit on how often you can mint new access tokens:

    - 2 mints per hour
    - 3 mints per day

    These limits are applied at the Auth0 layer and count mints across both the legacy direct path and the cached `/v1/oauth/token` endpoint combined. **The cached endpoint is designed so that one mint per day is sufficient for any traffic volume** — the proxy serves all subsequent requests from the cached token. If you migrate to the cached endpoint, you will not notice these limits.

    Token mint quotas currently apply to all newly-provisioned integrator clients. They will be rolled out to existing clients on a separate schedule, and you will be contacted before that change applies to you.
  version: 1.0.0
servers:
  - url: https://api.ritten.io/v1
tags:
  - name: oauth
    description: |
      OAuth 2.0 token endpoint for obtaining access tokens. This is the
      recommended way to authenticate with the Ritten External API.
  - name: patients
  - name: contacts
  - name: users
  - name: calendar
  - name: insurance
  - name: encounters
    description: |
      Endpoints for creating clinical encounters (visits) and discovering the
      encounter types they are created from.
  - name: forms
    description: |
      Endpoints for accessing form definitions and form-related data.
  - name: insights
    description: |
      Ritten provides insights and reporting endpoints for analytics and data export.
      These endpoints return various reports about admissions, discharges, census, billing, and CRM data.

      Most endpoints support CSV export via the `csv=true` query parameter.
  - name: cases
    description: |
      Endpoints for accessing CRM cases (admissions pipeline).
  - name: facilities
    description: |
      Endpoints for accessing clinic facilities (service locations).
  - name: programs
    description: |
      Endpoints for creating, accessing, and managing clinic programs.
  - name: organizations
    description: |
      Endpoints for accessing CRM organizations and organization members. Requires CRM to be available for the target clinic (`X-Ritten-Tenant`). Integrations must be explicitly provisioned by Ritten for organization access.
  - name: tasks
    description: |
      Endpoints for accessing clinic tasks. Tasks linked to a client are only returned when the integration is authorized to read that client.
  - name: webhooks
    description: |
      Ritten provides webhooks for various events that occur in the system.
      Integrating partners can subscribe to these events to receive real-time updates.

      Webhooks sent from Ritten are POST requests with a JSON body containing the event `type` and associated `data`.
      The schema for the `data` object will vary depending on the event type.
      ```
      {
        "type": "patient.admit",
        "data": {
          "patientId": "182c2e54-3494-4b85-aba5-038cf539d5bf",
          "programId": "9a5e64b0-0a73-4cb5-ab32-44fea16da4e1"
        }
      }
      ```

paths:
  /oauth/token:
    post:
      tags:
        - oauth
      summary: Obtain an access token (OAuth 2.0 client_credentials)
      description: |
        Exchanges integrator credentials for a 24-hour access token to use as a `Bearer`
        token on subsequent API calls. This endpoint is **unauthenticated** at the gateway
        layer — your `client_secret` in the request body is the authentication. Ritten
        forwards the credentials to Auth0, validates the response, and caches the resulting
        token server-side so repeated calls do not consume your Auth0 mint quota.

        The response shape mirrors the OAuth 2.0 / Auth0 `/oauth/token` response so existing
        OAuth2 client libraries work without modification.

        **Mint quota interaction:** the per-app token mint quota (2/hour, 3/day) counts
        mints actually performed against Auth0. Because this endpoint caches server-side,
        repeated calls within a 24-hour window typically result in zero additional Auth0
        mints — so calling here is far cheaper against your quota than calling Auth0
        directly. See the Authentication and Rate Limiting sections above.
      operationId: postOAuthToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuthTokenRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/OAuthTokenRequest"
      responses:
        200:
          description: Access token issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthTokenResponse"
        400:
          description: |
            Malformed request. The `error` field will be one of `invalid_request`,
            `unsupported_grant_type`, or `invalid_audience`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthErrorResponse"
        401:
          description: |
            Auth0 rejected the supplied credentials (`error: invalid_client` or similar).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthErrorResponse"
        429:
          description: |
            Rate limit exceeded. Either the per-IP request rate limit on this endpoint,
            or the per-app Auth0 mint quota (2/hour, 3/day) has been reached. Retry
            after a short delay. If 429s persist, inspect whether you are hitting
            per-IP request limits vs. triggering fresh Auth0 mints, then reach out
            to Ritten for support.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthErrorResponse"
        502:
          description: |
            Auth0 was unreachable or returned a 5xx error. Retry — Ritten does not
            cache failed responses.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthErrorResponse"
  /patients:
    get:
      tags:
        - patients
      summary: List patients in a clinic
      description: Lists patients in a clinic
      operationId: listPatients
      parameters:
        - name: programStatus
          in: query
          description: Patient Program status filter
          required: true
          schema:
            type: string
            enum:
              - prospective
              - active
              - former
        - name: limit
          in: query
          description: How many patients to return at one time (max 20).
          schema:
            maximum: 20
            type: integer
            format: int64
        - name: offset
          in: query
          description:
            How many patients to skip before returning the limit number of
            patients. Use this to page.
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPatients"
    post:
      tags:
        - patients
      summary: Create a new patient
      description: Creates a new patient record (this will generate an MRN and put the patient in 'prospective' status)
      operationId: createPatient
      requestBody:
        content:
          application/json:
            schema:
              required:
                - name
              properties:
                name:
                  $ref: "#/components/schemas/PatientName"
                dob:
                  type: string
                  description: Date of birth (YYYY-MM-DD)
                  example: "1990-02-23"
                externalId:
                  type: string
                  description: An external identifier for the patient (e.g. an ID from a third-party system)
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IDSchema"
  /patients/{id}:
    get:
      tags:
        - patients
      summary: Retrieve a patient by ID
      description: Returns a single patient
      operationId: getPatientById
      parameters:
        - name: id
          in: path
          description: ID of patient to return
          required: true
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatientDetail"
        400:
          description: Invalid ID supplied
        404:
          description: Patient not found
    patch:
      tags:
        - patients
      summary: Update a patient by ID
      description: |
        Update a single patient. Returns the updated patient.
        Omitting a top-level field in the request body will leave it unchanged.
      operationId: patchPatient
      parameters:
        - name: id
          in: path
          description: ID of patient to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  allOf:
                    - $ref: "#/components/schemas/PatientName"
                  description: The patient's name. Omitted nested fields are left unchanged.
                dob:
                  type: string
                  description: Date of birth (YYYY-MM-DD)
                  example: "1990-02-23"
                ssn:
                  type: string
                  writeOnly: true
                  description: Full Social Security number. Accepted with or without dashes and never returned in patient responses.
                  examples:
                    - "123-45-6789"
                    - "123456789"
                demographics:
                  $ref: "#/components/schemas/PatientDemographics"
                emails:
                  type: array
                  items:
                    type: string
                    example: "john@example.com"
                phones:
                  type: array
                  items:
                    type: string
                    example: "+15555555555"
                addresses:
                  type: array
                  items:
                    $ref: "#/components/schemas/Address"
                  description: The patient's addresses. To update an existing address, include the address ID.
                referrals:
                  type: array
                  items:
                    $ref: "#/components/schemas/Referral"
                  description: The patient's referrals. To update an existing referral, include the referral ID.
                insurance:
                  type: array
                  items:
                    $ref: "#/components/schemas/Insurance"
                  description: The patient's insurance information. To update an existing insurance record, include the insurance ID.
                externalId:
                  type: string
                  description: An external identifier for the patient (e.g. an ID from a third-party system)
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatientDetail"
        400:
          description: Invalid ID or payload supplied
        404:
          description: Patient not found
  /patients/{id}/vitals:
    post:
      tags:
        - patients
      summary: Record patient vitals
      description: |
        Records a single vital observation for the patient. Units are fixed by observation and measurement type;
        do not include units in the request body.
      operationId: postPatientVitals
      parameters:
        - name: id
          in: path
          description: ID of patient to record vitals for
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostPatientVital"
            examples:
              temperature:
                summary: Temperature in Fahrenheit
                value:
                  type: temperature
                  measurements:
                    - value: 98.6
                  timestamp: "2026-05-27T15:30:00Z"
              heart_rate:
                summary: Heart rate in beats per minute
                value:
                  type: heart_rate
                  measurements:
                    - value: 72
                  timestamp: "2026-05-27T15:30:00Z"
              respiration_rate:
                summary: Respiration rate in breaths per minute
                value:
                  type: respiration_rate
                  measurements:
                    - value: 16
                  timestamp: "2026-05-27T15:30:00Z"
              oxygen_saturation:
                summary: Oxygen saturation percentage
                value:
                  type: oxygen_saturation
                  measurements:
                    - value: 98
                  timestamp: "2026-05-27T15:30:00Z"
              blood_pressure:
                summary: Blood pressure in mmHg
                value:
                  type: blood_pressure
                  measurements:
                    - type: systolic
                      value: 120
                    - type: diastolic
                      value: 80
                  timestamp: "2026-05-27T15:30:00Z"
              glucose:
                summary: Glucose in mg/dL
                value:
                  type: glucose
                  measurements:
                    - value: 110
                  timestamp: "2026-05-27T15:30:00Z"
              blood_alcohol_concentration:
                summary: Blood alcohol concentration percentage
                value:
                  type: blood_alcohol_concentration
                  measurements:
                    - value: 0.02
                  timestamp: "2026-05-27T15:30:00Z"
              height_weight_height_only:
                summary: Height in total inches
                value:
                  type: height_weight
                  measurements:
                    - type: height
                      value: 70
                  timestamp: "2026-05-27T15:30:00Z"
              height_weight_weight_only:
                summary: Weight in pounds
                value:
                  type: height_weight
                  measurements:
                    - type: weight
                      value: 180
                  timestamp: "2026-05-27T15:30:00Z"
              height_weight_both:
                summary: Height in total inches and weight in pounds
                value:
                  type: height_weight
                  measurements:
                    - type: height
                      value: 70
                    - type: weight
                      value: 180
                  timestamp: "2026-05-27T15:30:00Z"
      responses:
        204:
          description: Vital recorded successfully
        400:
          description: Invalid ID or payload supplied
        404:
          description: Patient not found
  /patients/{id}/forms:
    post:
      tags:
        - forms
      summary: Create a form on a patient chart and submit field values
      description: |
        Creates a form instance from a pre-configured form definition (resolved by its label) on the
        patient's chart and writes all provided field values in a single atomic call — on any error,
        nothing is written. Use `GET /forms/definitions` to discover form, section, and field labels.

        Every ingested form attaches to an existing encounter (visit) on the patient's chart: create
        the encounter first, then submit form data with its `encounterId`. The encounter must belong
        to the patient.

        Values are keyed by field definition label and must match the field's type: strings for
        `text` and `text_paragraph`, `YYYY-MM-DD` or RFC 3339 strings for `date`, numbers for
        `number_float`, a configured choice string for single-choice fields (scale answers are string
        integers, e.g. `"2"`), and arrays of choice strings for multi-choice fields. Grid-matrix
        values are row-keyed objects whose per-row shape depends on the sub-type: `grid_matrix_text`
        and `grid_matrix_number` map each row index to a column-keyed object of cells
        (`{"0": {"1": "cell"}}`), `grid_matrix_choice` maps each row index to a single integer column
        index (`{"0": 1}`), and `grid_matrix_multi_choice` maps each row index to an array of integer
        column indices (`{"0": [0, 1]}`). A JSON `null` clears a field (including any default).
        Display-only, calculated, and chart-backed (`roobi_custom_field`) fields cannot be written.
        Omit `values` to create an empty form.

        Submitted field labels must be unambiguous within the form definition: if a label matches more
        than one field on the created form, the request fails with a 400.

        The created form behaves exactly like one created on the encounter in-app: it arrives
        unsigned with the definition's signature requirements and signature actions, signers are
        notified, due-forms scheduling applies, and the encounter's documentation status is
        recalculated. Requests are not idempotent: retrying a successful call creates a second form
        instance.
      operationId: postPatientForm
      parameters:
        - name: id
          in: path
          description: ID of the patient to create the form for
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostPatientForm"
            examples:
              phq9:
                summary: Submit a PHQ-9 assessment
                value:
                  formDefinitionLabel: phq9_intake_form
                  encounterId: "6a6f8ab1-38b0-4c96-9f39-2a37e2f4a111"
                  values:
                    roobi_depression_phq9_q1: "2"
                    roobi_depression_phq9_q2: "3"
                    reason_for_visit: referral
              empty_form:
                summary: Create an empty form (no values)
                value:
                  formDefinitionLabel: weekly_progress_note
                  encounterId: "6a6f8ab1-38b0-4c96-9f39-2a37e2f4a111"
      responses:
        200:
          description: Form created and all values written
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatientForm"
        400:
          description: Invalid payload — unknown or ambiguous field label, value invalid for the field's type, or unsupported form definition
        404:
          description: Patient, form definition label, or encounter not found
  /patients/{id}/relationships:
    get:
      tags:
        - patients
      summary: List a patient's relationships
      description: Returns a list of relationships for a patient
      operationId: listPatientRelationships
      parameters:
        - name: id
          in: path
          description: ID of patient to return relationships for
          required: true
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PatientRelationship"
        400:
          description: Invalid ID supplied
        404:
          description: Patient not found
    post:
      tags:
        - patients
      summary: Create a new patient relationship
      description: Creates a new relationship between two patients
      operationId: createPatientRelationship
      parameters:
        - name: id
          in: path
          description: ID of patient to create a relationship for
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - personId
                - type
              properties:
                personId:
                  type: string
                  description: ID of the person to create a relationship with (patient or contact)
                type:
                  type: string
                  description: The type of relationship
                isEmergencyContact:
                  type: boolean
                isGuarantor:
                  type: boolean
                isGuardian:
                  type: boolean
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatientRelationship"
        400:
          description: Invalid payload supplied
  /patients/{id}/relationships/{relationshipId}:
    patch:
      tags:
        - patients
      summary: Update a patient relationship
      description: |
        Update a single patient relationship. Returns the updated relationship.
        Omitting a top-level field in the request body will leave it unchanged.
      operationId: patchPatientRelationship
      parameters:
        - name: id
          in: path
          description: ID of patient to update a relationship for
          required: true
          schema:
            type: string
        - name: relationshipId
          in: path
          description: ID of relationship to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                type:
                  type: string
                  description: The type of relationship
                isEmergencyContact:
                  type: boolean
                isGuarantor:
                  type: boolean
                isGuardian:
                  type: boolean
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatientRelationship"
        400:
          description: Invalid ID or payload supplied
        404:
          description: Relationship not found
    delete:
      tags:
        - patients
      summary: Delete a patient relationship
      description: Deletes a patient relationship by ID
      operationId: deletePatientRelationship
      parameters:
        - name: id
          in: path
          description: ID of patient to delete a relationship for
          required: true
          schema:
            type: string
        - name: relationshipId
          in: path
          description: ID of relationship to delete
          required: true
          schema:
            type: string
      responses:
        200:
          description: success
  /patients/{id}/attachments:
    post:
      tags:
        - patients
      summary: Attach a document to a patient chart
      description:
        Uploads a file to Ritten and then attaches it as a document on the
        patient chart which lives under the Attachments section in the Platform
      operationId: attachDocument
      parameters:
        - name: id
          in: path
          description: ID of patient
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - title
                - type
              properties:
                type:
                  description: The Ritten document type. This can also include any custom types defined by the clinic.
                  $ref: "#/components/schemas/DocumentTypeEnum"
                title:
                  type: string
                  description: The display title of the document
                file:
                  type: string
                  description: The file upload
                  format: binary
        required: true
      responses:
        200:
          description: success
  /patients/{id}/attachments/{attachmentId}:
    patch:
      tags:
        - patients
      summary: Update a document on a patient chart
      description: Update the title and/or type of an existing document on a patient chart. Omitting a field will leave it unchanged.
      operationId: updateDocument
      parameters:
        - name: id
          in: path
          description: ID of patient
          required: true
          schema:
            type: string
        - name: attachmentId
          in: path
          description: ID of attachment to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                type:
                  description: The Ritten document type. This can also include any custom types defined by the clinic.
                  $ref: "#/components/schemas/DocumentTypeEnum"
                title:
                  type: string
                  description: The display title of the document
      responses:
        200:
          description: success
  /patients/external/{externalId}:
    get:
      tags:
        - patients
      summary: Retrieve a patient by external ID
      description: Returns a single patient with the given external ID
      operationId: getPatientByExternalId
      parameters:
        - name: externalId
          in: path
          description: External ID of patient to return
          required: true
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatientDetail"
        404:
          description: Patient not found
  /contacts:
    get:
      tags:
        - contacts
      summary: List contacts in a clinic
      description: Lists contacts in a clinic
      operationId: listContacts
      parameters:
        - name: limit
          in: query
          description: How many contacts to return at one time (max 20).
          schema:
            maximum: 20
            type: integer
            format: int64
        - name: offset
          in: query
          description:
            How many contacts to skip before returning the limit number of
            contacts. Use this to page.
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListContacts"
    post:
      tags:
        - contacts
      summary: Create a new contact
      description: Creates a new contact record
      operationId: createContact
      requestBody:
        content:
          application/json:
            schema:
              required:
                - first
                - last
              properties:
                first:
                  type: string
                  description: The contact's first name
                  example: John
                middle:
                  type: string
                  description: The contact's middle name
                last:
                  type: string
                  description: The contact's last name
                  example: Doe
                dob:
                  type: string
                  description: Date of birth (YYYY-MM-DD)
                  example: "1990-02-23"
                address:
                  $ref: "#/components/schemas/Address"
                contactPoints:
                  type: array
                  items:
                    $ref: "#/components/schemas/ContactPoint"
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactDetail"
        400:
          description: Invalid payload supplied
  /contacts/{id}:
    get:
      tags:
        - contacts
      summary: Retrieve a contact by ID
      description: Returns a single contact
      operationId: getContactById
      parameters:
        - name: id
          in: path
          description: ID of contact to return
          required: true
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactDetail"
        400:
          description: Invalid ID supplied
        404:
          description: Contact not found
    patch:
      tags:
        - contacts
      summary: Update a contact by ID
      description: |
        Update a single contact. Returns the updated contact.
        Omitting a top-level field in the request body will leave it unchanged.
      operationId: patchContact
      parameters:
        - name: id
          in: path
          description: ID of contact to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                first:
                  type: string
                  description: The contact's first name
                  example: John
                middle:
                  type: string
                  description: The contact's middle name
                last:
                  type: string
                  description: The contact's last name
                  example: Doe
                dob:
                  type: string
                  description: Date of birth (YYYY-MM-DD)
                  example: "1990-02-23"
                address:
                  $ref: "#/components/schemas/Address"
                contactPoints:
                  type: array
                  items:
                    $ref: "#/components/schemas/ContactPoint"
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactDetail"
        400:
          description: Invalid ID or payload supplied
        404:
          description: Contact not found
  /contacts/{id}/relationships:
    get:
      tags:
        - contacts
      summary: List a contact's relationships
      description: Returns a list of relationships for a contact
      operationId: listContactRelationships
      parameters:
        - name: id
          in: path
          description: ID of contact to return relationships for
          required: true
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ContactRelationship"
        400:
          description: Invalid ID supplied
        404:
          description: Contact not found
    post:
      tags:
        - contacts
      summary: Create a new contact relationship
      description: Creates a new relationship between two contacts
      operationId: createContactRelationship
      parameters:
        - name: id
          in: path
          description: ID of contact to create a relationship for
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - personId
                - type
              properties:
                personId:
                  type: string
                  description: ID of the person to create a relationship with (patient or contact)
                type:
                  type: string
                  description: The type of relationship
      responses:
        200:
          description: success
        400:
          description: Invalid payload supplied
  /facilities:
    get:
      tags:
        - facilities
      summary: List active facilities in a clinic
      description: Lists active clinic facilities with pagination and optional filters.
      operationId: listFacilities
      parameters:
        - name: createdAfter
          in: query
          description: Return facilities created after this timestamp (ISO 8601).
          schema:
            type: string
            format: date-time
        - name: search
          in: query
          description: Case-insensitive search on facility name.
          schema:
            type: string
            maxLength: 255
        - name: limit
          in: query
          description: How many facilities to return at one time (max 20).
          schema:
            maximum: 20
            minimum: 1
            type: integer
            format: int64
            default: 20
        - name: offset
          in: query
          description: How many facilities to skip before returning results. Use for pagination.
          schema:
            minimum: 0
            type: integer
            format: int64
            default: 0
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListFacilities"
        400:
          description: Invalid query parameters
    post:
      tags:
        - facilities
      summary: Create a facility in a clinic
      description: Creates a clinic facility. The request must include name, nationalProviderId, phone, and address.
      operationId: postFacility
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostFacilityBody"
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Facility"
        400:
          description: Invalid payload supplied
  /facilities/{id}:
    patch:
      tags:
        - facilities
      summary: Update a facility
      description: Updates an active facility.
      operationId: patchFacility
      parameters:
        - name: id
          in: path
          required: true
          description: Facility ID.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchFacilityBody"
      responses:
        204:
          description: Facility updated successfully.
        400:
          description: Invalid payload supplied
        404:
          description: Facility not found
  /programs:
    post:
      tags:
        - programs
      summary: Create a clinic program
      description: |
        Creates a clinic program. Requires name, programType, and at least one levelOfCare entry.
        The server assigns the program ID; client-supplied id values and other unknown fields are rejected.
        levelOfCare entries must be exact catalog strings, unique, and compatible with programType.
        facilityId is optional.
      operationId: postProgram
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostProgramBody"
      responses:
        201:
          description: Program created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClinicProgram"
        400:
          description: Invalid payload supplied
    get:
      tags:
        - programs
      summary: List active programs in a clinic
      description: Lists active clinic programs with pagination and optional filters. Archived programs are never returned by the external API.
      operationId: listPrograms
      parameters:
        - name: facilityId
          in: query
          description: Filter programs by active facility ID.
          schema:
            type: string
            format: uuid
        - name: programType
          in: query
          description: Filter programs by type.
          schema:
            $ref: "#/components/schemas/ProgramType"
        - name: search
          in: query
          description: Case-insensitive search on program name.
          schema:
            type: string
            maxLength: 255
        - name: limit
          in: query
          description: How many programs to return at one time (max 200).
          schema:
            maximum: 200
            minimum: 1
            type: integer
            format: int64
            default: 200
        - name: offset
          in: query
          description: How many programs to skip before returning results. Use for pagination.
          schema:
            minimum: 0
            type: integer
            format: int64
            default: 0
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPrograms"
        400:
          description: Invalid query parameters
  /programs/{id}:
    get:
      tags:
        - programs
      summary: Get an active program
      description: Gets an active clinic program by ID. Archived programs are treated as not found.
      operationId: getProgram
      parameters:
        - name: id
          in: path
          required: true
          description: Program ID.
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClinicProgram"
        404:
          description: Program not found
    patch:
      tags:
        - programs
      summary: Update a clinic program
      description: |
        Partially updates an active clinic program's name and/or facility association.
        At least one of name or facilityId must be provided; omitted fields are left unchanged.
        programType and levelOfCare cannot be updated via this endpoint.
        A malformed facilityId UUID returns 400. A missing or archived facilityId returns 404.
      operationId: patchProgram
      parameters:
        - name: id
          in: path
          required: true
          description: Program ID.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchProgramBody"
      responses:
        204:
          description: Program updated successfully.
        400:
          description: Invalid payload supplied
        404:
          description: Program not found, or referenced facility not found or archived
  /organizations:
    get:
      tags:
        - organizations
      summary: List active organizations in a clinic
      description: Lists active CRM organizations with pagination and optional filters. Requires CRM to be available for the target clinic and organization access to be granted by Ritten.
      operationId: listOrganizations
      parameters:
        - name: search
          in: query
          description: Case-insensitive search on organization name.
          schema:
            type: string
        - name: organizationTypeIds
          in: query
          description: Filter by one or more organization type IDs.
          schema:
            type: array
            items:
              type: string
              format: uuid
          style: form
          explode: true
        - name: assignedUserIds
          in: query
          description: Filter by one or more assigned user IDs.
          schema:
            type: array
            items:
              type: string
              format: uuid
          style: form
          explode: true
        - name: tagIds
          in: query
          description: Filter by one or more tag IDs.
          schema:
            type: array
            items:
              type: string
              format: uuid
          style: form
          explode: true
        - name: matchAllTags
          in: query
          description: When true, only return records that have ALL selected tags (AND). Default false returns records matching ANY selected tag (OR).
          schema:
            type: boolean
            default: false
        - name: sortBy
          in: query
          description: Sort order for returned organizations.
          schema:
            type: string
            enum:
              - name_asc
              - name_desc
              - createdAt_asc
              - createdAt_desc
        - name: limit
          in: query
          description: How many organizations to return at one time (max 20).
          schema:
            maximum: 20
            minimum: 1
            type: integer
            format: int64
            default: 20
        - name: offset
          in: query
          description: How many organizations to skip before returning results. Use for pagination.
          schema:
            minimum: 0
            type: integer
            format: int64
            default: 0
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOrganizations"
        400:
          description: Invalid query parameters
        403:
          description: CRM is not available for this clinic or this integration has not been granted organization access. Contact Ritten to enable access.
    post:
      tags:
        - organizations
      summary: Create an organization in a clinic
      description: Creates a CRM organization with optional contact, website, address, assigned user, and primary contact information. Requires CRM to be available for the target clinic and organization access to be granted by Ritten.
      operationId: postOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostOrganizationBody"
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        400:
          description: Invalid payload supplied
        403:
          description: CRM is not available for this clinic or this integration has not been granted organization access. Contact Ritten to enable access.
  /organizations/{id}:
    get:
      tags:
        - organizations
      summary: Get an active organization
      description: Returns a single active CRM organization by ID. Requires CRM to be available for the target clinic and organization access to be granted by Ritten.
      operationId: getOrganization
      parameters:
        - name: id
          in: path
          required: true
          description: Organization ID.
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        400:
          description: Invalid organization ID
        403:
          description: CRM is not available for this clinic or this integration has not been granted organization access. Contact Ritten to enable access.
        404:
          description: Organization not found
    patch:
      tags:
        - organizations
      summary: Update an organization
      description: Updates direct flat fields on an active CRM organization. Nested resources such as contact points, tags, addresses, and primary contacts are not supported by this endpoint. Requires CRM to be available for the target clinic and organization access to be granted by Ritten.
      operationId: patchOrganization
      parameters:
        - name: id
          in: path
          required: true
          description: Organization ID.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchOrganizationBody"
      responses:
        204:
          description: Organization updated successfully.
        400:
          description: Invalid payload supplied
        403:
          description: CRM is not available for this clinic or this integration has not been granted organization access. Contact Ritten to enable access.
        404:
          description: Organization not found
  /organizations/{id}/members:
    get:
      tags:
        - organizations
      summary: List active organization members
      description: Lists member relationships for an active CRM organization. Requires CRM to be available for the target clinic and organization access to be granted by Ritten.
      operationId: listOrganizationMembers
      parameters:
        - name: id
          in: path
          required: true
          description: Organization ID.
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: How many members to return at one time (max 20).
          schema:
            maximum: 20
            minimum: 1
            type: integer
            format: int64
            default: 20
        - name: offset
          in: query
          description: How many members to skip before returning results. Use for pagination.
          schema:
            minimum: 0
            type: integer
            format: int64
            default: 0
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOrganizationMembers"
        400:
          description: Invalid query parameters
        403:
          description: CRM is not available for this clinic or this integration has not been granted organization access. Contact Ritten to enable access.
        404:
          description: Organization not found
  /tasks:
    get:
      tags:
        - tasks
      summary: List tasks in a clinic
      description: |
        Lists tasks with pagination and optional filters. Tasks linked to a client are only
        returned when the integration is authorized to read that client; unauthorized tasks
        are excluded from both the results and `meta.totalCount`.

        `title` and `description` are unstructured clinical free text and may contain PHI.
      operationId: listTasks
      parameters:
        - name: assigneeIds
          in: query
          description: Filter by one or more assignee user IDs.
          schema:
            type: array
            items:
              type: string
              format: uuid
          style: form
          explode: true
        - name: creatorIds
          in: query
          description: Filter by one or more creator user IDs.
          schema:
            type: array
            items:
              type: string
              format: uuid
          style: form
          explode: true
        - name: patientIds
          in: query
          description: Filter by one or more linked client IDs.
          schema:
            type: array
            items:
              type: string
              format: uuid
          style: form
          explode: true
        - name: statuses
          in: query
          description: Filter by one or more task statuses.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/TaskStatus"
          style: form
          explode: true
        - name: priorities
          in: query
          description: Filter by one or more task priorities.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/TaskPriority"
          style: form
          explode: true
        - name: dueStartDate
          in: query
          description: Only return tasks due on or after this date. Tasks with no due date are excluded when either due date filter is set.
          schema:
            type: string
            format: date
            example: "2024-01-01"
        - name: dueEndDate
          in: query
          description: Only return tasks due on or before this date.
          schema:
            type: string
            format: date
            example: "2024-01-31"
        - name: createdStartTime
          in: query
          description: Only return tasks created at or after this ISO 8601 timestamp.
          schema:
            type: string
            format: date-time
            example: "2024-01-01T00:00:00Z"
        - name: createdEndTime
          in: query
          description: Only return tasks created at or before this ISO 8601 timestamp.
          schema:
            type: string
            format: date-time
            example: "2024-01-31T23:59:59Z"
        - name: sort
          in: query
          description: How to order the results. Defaults to newest created first.
          schema:
            type: string
            enum:
              - activity_newest
              - activity_oldest
              - created_newest
              - created_oldest
              - due_latest
              - due_earliest
              - priority_highest
              - priority_lowest
              - client_az
              - client_za
        - name: limit
          in: query
          description: How many tasks to return at one time (max 20).
          schema:
            maximum: 20
            minimum: 1
            type: integer
            format: int64
            default: 20
        - name: offset
          in: query
          description: How many tasks to skip before returning results. Use for pagination.
          schema:
            minimum: 0
            type: integer
            format: int64
            default: 0
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTasks"
        400:
          description: Invalid query parameters
    post:
      tags:
        - tasks
      summary: Create a task
      description: |
        Creates a task assigned to a staff member. The server assigns the id, timestamps and
        the creator; `status` defaults to `New` and `priority` to `Medium`.

        The assignee is notified exactly as they would be for a task created in the app.
        Requests are not idempotent: retrying a successful call creates a second task.
      operationId: postTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostTaskBody"
      responses:
        200:
          description: Task created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        400:
          description: Invalid payload supplied
        404:
          description: No staff user found for the supplied assigneeId
  /tasks/{id}:
    patch:
      tags:
        - tasks
      summary: Update a task
      description: |
        Applies a partial update to an existing task. Only the fields you send are changed;
        everything else on the task is left as it is.

        Setting `description` replaces any rich text the task carries, so the text you send
        is what staff see in the app.
      operationId: patchTask
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the task to update.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchTaskBody"
      responses:
        200:
          description: Task updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        400:
          description: Invalid payload supplied, or no fields set
        404:
          description: Task not found, or no staff user found for the supplied assigneeId
  /cases:
    get:
      tags:
        - cases
      summary: List cases in a clinic
      description: Lists CRM cases (admissions pipeline) in a clinic
      operationId: listCases
      parameters:
        - name: limit
          in: query
          description: How many cases to return at one time (max 20, min 0).
          schema:
            maximum: 20
            minimum: 0
            type: integer
            format: int64
        - name: offset
          in: query
          description: How many cases to skip before returning results. Use for pagination.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: tagIds
          in: query
          description: Filter by one or more tag IDs.
          schema:
            type: array
            items:
              type: string
              format: uuid
          style: form
          explode: true
        - name: matchAllTags
          in: query
          description: When true, only return records that have ALL selected tags (AND). Default false returns records matching ANY selected tag (OR).
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCases"
        400:
          description: Invalid query parameters
    post:
      tags:
        - cases
      summary: Create a case
      description: Creates a new CRM case (deal). Case status cannot be set during creation; all cases are created with status "new". Tags and caseSource must be provided as plain text names and must match existing values in the system.
      operationId: createCase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostCaseBody"
      responses:
        200:
          description: Successfully created case
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Case"
        400:
          description: Bad request (validation error, unknown tag or case source)
        401:
          description: Unauthorized
  /cases/{id}:
    get:
      tags:
        - cases
      summary: Retrieve a case by ID
      description: Returns a single CRM case
      operationId: getCase
      parameters:
        - name: id
          in: path
          description: ID of the case to return
          required: true
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Case"
        400:
          description: Invalid ID supplied
        404:
          description: Case not found
    patch:
      tags:
        - cases
      summary: Update a case
      description: Updates an existing CRM case (deal). Case status cannot be updated through this endpoint. Tags and caseSource must be provided as plain text names and must match existing values in the system.
      operationId: updateCase
      parameters:
        - name: id
          in: path
          description: The ID of the case to update
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchCaseBody"
      responses:
        200:
          description: Successfully updated case
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Case"
        400:
          description: Bad request (validation error, unknown tag or case source)
        401:
          description: Unauthorized
        404:
          description: Case not found
  /cases/{id}/notes:
    post:
      tags:
        - cases
      summary: Create a case note
      description: Adds a plain-text note to an existing CRM case.
      operationId: createCaseNote
      parameters:
        - name: id
          in: path
          description: The ID of the case to add a note to
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostCaseNoteBody"
      responses:
        200:
          description: Successfully created case note
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseNote"
        400:
          description: Bad request (validation error)
        401:
          description: Unauthorized
        404:
          description: Case not found
  /cases/{id}/action-items:
    post:
      tags:
        - cases
      summary: Create a case action item
      description: |
        Adds an action item to an existing CRM case. Action items are the follow-up
        tasks shown on the case in-app.

        Newly created action items are always incomplete; completing one is not
        supported through this API. Requests are not idempotent: retrying a
        successful call creates a second action item.
      operationId: createCaseActionItem
      parameters:
        - name: id
          in: path
          description: The ID of the case to add an action item to
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostCaseActionItemBody"
      responses:
        200:
          description: Successfully created case action item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaseActionItem"
        400:
          description: Bad request (validation error, or the case is archived)
        401:
          description: Unauthorized
        404:
          description: Case not found
  /encounters:
    post:
      tags:
        - encounters
      summary: Create an encounter
      description: |
        Creates a new, empty encounter (visit) on a patient's chart from an encounter
        type. Use `GET /encounter-types` to discover the available types. The
        encounter starts at server time with no documentation; forms are attached
        separately via `POST /patients/{id}/forms`.

        The new encounter behaves exactly like one created in-app: forms and documents
        configured on the encounter type are seeded onto it, and billing artifacts are
        generated asynchronously for billable types. Requests are not idempotent:
        retrying a successful call creates a second encounter.
      operationId: postEncounter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostEncounterBody"
      responses:
        200:
          description: Encounter created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Encounter"
        400:
          description: Invalid payload supplied
        404:
          description: Patient or encounter type not found (archived encounter types are treated as not found)
  /encounter-types:
    get:
      tags:
        - encounters
      summary: List encounter types
      description: |
        Lists the clinic's active encounter types — the configured visit types that
        encounters are created from. Archived encounter types are never returned by
        the external API.
      operationId: listEncounterTypes
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EncounterType"
  /staff:
    get:
      tags:
        - users
      summary: List all clinic staff users
      description: List all clinic staff users
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
  /users:
    post:
      tags:
        - users
      summary: Create a new user
      description: Creates a new user in the system
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  description: The user's first name
                  example: John
                lastName:
                  type: string
                  description: The user's last name
                  example: Doe
                email:
                  type: string
                  description: The user's email address
                  example: john@example.com
              required:
                - firstName
                - lastName
                - email
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: The new user's ID
                  newUserPassword:
                    type: string
                    description: The new user's initial password
  /users/{id}:
    delete:
      tags:
        - users
      summary: Delete a user
      description: Deletes a user by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            description: ID of user to delete
      responses:
        200:
          description: User deleted successfully
  /users/{id}/roles:
    post:
      tags:
        - users
      summary: Assign a role to a user
      description: Assigns a role to a user by user ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            description: ID of user to assign role to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                roleId:
                  type: string
                  format: uuid
                  description: ID of role to assign
              required:
                - roleId
      responses:
        200:
          description: Role assigned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IDSchema"
  /users/{id}/roles/{roleID}:
    delete:
      tags:
        - users
      summary: Remove a role from a user
      description: Removes a role from a user by user ID and role ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            description: ID of user to remove role from
        - name: roleID
          in: path
          required: true
          schema:
            type: string
            format: uuid
            description: ID of role to remove
      responses:
        200:
          description: Role removed successfully
  /teams:
    get:
      tags:
        - users
      summary: List all clinic teams
      description: Lists all the clinic teams and their users.
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClinicTeam"
  /calendar/events/list:
    post:
      tags:
        - calendar
      summary: Query calendar events
      description: Lists all calendar events that match the given query parameters. The POST body is the query object.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - startTime
                - endTime
              properties:
                entityIds:
                  type: array
                  items:
                    type: string
                    example: f87e1b07-1d20-4c36-8c37-08600daf7322
                startTime:
                  type: string
                  description: ISO Format DateTime
                  example: "2024-02-13T13:00:00-05:00"
                endTime:
                  type: string
                  description: ISO Format DateTime
                  example: "2024-02-13T23:59:59-05:00"
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarEvent"
  /calendar/events:
    post:
      tags:
        - calendar
      summary: Create a new calendar event
      description: Create a new calendar event.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/CalendarEventCore"
                - type: object
                  properties:
                    timezone:
                      type: string
                      example: America/New_York
                    encounterTemplateId:
                      type: [string, "null"]
                      example: null
                    reminderInterval:
                      $ref: "#/components/schemas/CalendarEventInterval"
                    notifyGuests:
                      type: boolean
                    guests:
                      type: array
                      items:
                        type: object
                        properties:
                          entityType:
                            type: string
                            enum:
                              - user
                              - patient
                              - clinic team
                              - group
                              - program
                              - care team
                          entityId:
                            type: string
                            example: f87e1b07-1d20-4c36-8c37-08600daf7322
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IDSchema"
  /insurance/payers:
    get:
      tags:
        - insurance
      summary: List insurance payers
      description: Lists all insurance payers in the system
      operationId: listInsurancePayers
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Payer"
  /insurance/payers/{id}:
    get:
      tags:
        - insurance
      summary: Retrieve an insurance payer by ID
      description: Returns a single insurance payer
      operationId: getInsurancePayerById
      parameters:
        - name: id
          in: path
          description: ID of insurance payer to return
          required: true
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payer"
        400:
          description: Invalid ID supplied
        404:
          description: Insurance payer not found

  /forms/definitions:
    get:
      tags:
        - forms
      summary: List form definitions
      description: Returns all form definitions configured for the clinic, including section definitions and signature requirements
      operationId: listFormDefinitions
      parameters:
        - name: showArchived
          in: query
          schema:
            type: boolean
            default: false
          description: Include archived form definitions
        - name: isTxPlan
          in: query
          schema:
            type: boolean
            default: false
          description: Filter to only treatment plan forms
        - name: fieldDefinitionIds[]
          in: query
          schema:
            type: array
            items:
              type: string
              format: uuid
          description: Filter by specific field definition IDs
          style: form
          explode: true
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FormDefinition"
        401:
          description: Unauthorized

  /insights/admissions:
    get:
      tags:
        - insights
      summary: Get admissions report
      description: Returns admissions report for patients admitted within the specified date range
      operationId: getAdmissionsReport
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start date of report range (ISO 8601)
          example: "2024-01-01T00:00:00Z"
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End date of report range (ISO 8601)
          example: "2024-01-31T23:59:59Z"
        - name: limit
          in: query
          schema:
            type: integer
          description: Maximum number of results to return
        - name: offset
          in: query
          schema:
            type: integer
          description: Number of results to skip for pagination
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return results as CSV file
        - name: clinical
          in: query
          schema:
            type: boolean
            default: false
          description: Filter for clinical programs only
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdmissionsReport"
            text/csv:
              schema:
                type: string
        400:
          description: Invalid query parameters
        401:
          description: Unauthorized
  /insights/discharges:
    get:
      tags:
        - insights
      summary: Get discharges report
      description: Returns discharge report for patients discharged within the specified date range
      operationId: getDischargesReport
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start date of report range
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End date of report range
        - name: limit
          in: query
          schema:
            type: integer
          description: Maximum number of results
        - name: offset
          in: query
          schema:
            type: integer
          description: Pagination offset
        - name: combineTransfers
          in: query
          schema:
            type: boolean
            default: false
          description: Combine transferred programs into episodes of care
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
        - name: clinical
          in: query
          schema:
            type: boolean
            default: false
          description: Filter for clinical programs only
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DischargesReport"
            text/csv:
              schema:
                type: string
        400:
          description: Invalid parameters
        401:
          description: Unauthorized
  /insights/alos:
    get:
      tags:
        - insights
      summary: Get average length of stay report
      description: Returns Average Length of Stay (ALOS) report for patients in the specified date range
      operationId: getAlosReport
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start date of report range
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End date of report range
        - name: limit
          in: query
          schema:
            type: integer
          description: Maximum number of results
        - name: offset
          in: query
          schema:
            type: integer
          description: Pagination offset
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlosReport"
            text/csv:
              schema:
                type: string
        400:
          description: Invalid parameters
        401:
          description: Unauthorized
  /insights/program-census:
    get:
      tags:
        - insights
      summary: Get program census report
      description: Returns census statistics by program for the specified date range
      operationId: getProgramCensusReport
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start date of report range
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End date of report range
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProgramCensusReport"
            text/csv:
              schema:
                type: string
        400:
          description: Invalid parameters
        401:
          description: Unauthorized
  /insights/census-report:
    get:
      tags:
        - insights
      summary: Get census report
      description: Returns detailed census report of all active patients in the date range
      operationId: getCensusReport
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start date of report range
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End date of report range
        - name: isBrief
          in: query
          schema:
            type: boolean
            default: false
          description: Return brief version with fewer fields
        - name: limit
          in: query
          schema:
            type: integer
          description: Maximum number of results
        - name: offset
          in: query
          schema:
            type: integer
          description: Pagination offset
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CensusReport"
            text/csv:
              schema:
                type: string
        400:
          description: Invalid parameters
        401:
          description: Unauthorized
  /insights/dbs:
    get:
      tags:
        - insights
      summary: Get daily billable services report
      description: Returns Daily Billable Services (DBS) report for the specified date range
      operationId: getDbsReport
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Start date in format YYYY-MM-DD
          example: "2024-01-01"
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: End date in format YYYY-MM-DD
          example: "2024-01-31"
        - name: limit
          in: query
          schema:
            type: integer
          description: Maximum number of results
        - name: offset
          in: query
          schema:
            type: integer
          description: Pagination offset
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DbsReport"
            text/csv:
              schema:
                type: string
        400:
          description: Invalid parameters
        401:
          description: Unauthorized
  /insights/event-audit:
    get:
      tags:
        - insights
      summary: Get event audit report
      description: Returns audit report for calendar events in the specified date range
      operationId: getEventAuditReport
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start date of report range
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End date of report range
        - name: userIds[]
          in: query
          schema:
            type: array
            items:
              type: string
              format: uuid
          description: Filter by user IDs
          style: form
          explode: true
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventAuditReport"
            text/csv:
              schema:
                type: string
        400:
          description: Invalid parameters
        401:
          description: Unauthorized
  /insights/facility-census:
    get:
      tags:
        - insights
      summary: Get facility census report
      description: Returns facility census report (always returns CSV format)
      operationId: getFacilityCensusReport
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Start date in format YYYY-MM-DD
          example: "2024-01-01"
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: End date in format YYYY-MM-DD
          example: "2024-01-31"
      responses:
        200:
          description: success (CSV only)
          content:
            text/csv:
              schema:
                type: string
        400:
          description: Invalid date format
        401:
          description: Unauthorized
  /insights/clinic-organizations:
    get:
      tags:
        - insights
      summary: Get clinic organizations
      description: Returns list of all clinic organizations from CRM
      operationId: getClinicOrganizations
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
          description: Maximum number of results
        - name: offset
          in: query
          schema:
            type: integer
          description: Pagination offset
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationsReport"
            text/csv:
              schema:
                type: string
        401:
          description: Unauthorized
        403:
          description: CRM feature flag not enabled
  /insights/organization-notes:
    get:
      tags:
        - insights
      summary: Get organization notes
      description: Returns notes associated with organizations in the specified date range
      operationId: getOrganizationNotes
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start date of report range
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End date of report range
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationNotesReport"
            text/csv:
              schema:
                type: string
        400:
          description: Invalid date range
        401:
          description: Unauthorized
        403:
          description: CRM feature flag not enabled
  /insights/created-cases:
    get:
      tags:
        - insights
      summary: Get created cases report
      description: Returns CRM cases (deals) created within the specified date range
      operationId: getCreatedCases
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start date of report range
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End date of report range
        - name: limit
          in: query
          schema:
            type: integer
          description: Maximum number of results
        - name: offset
          in: query
          schema:
            type: integer
          description: Pagination offset
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedCasesReport"
            text/csv:
              schema:
                type: string
        400:
          description: Invalid date range
        401:
          description: Unauthorized
        403:
          description: CRM feature flag not enabled
  /insights/disqualified-cases:
    get:
      tags:
        - insights
      summary: Get disqualified cases report
      description: Returns CRM cases (deals) that were disqualified within the specified date range
      operationId: getDisqualifiedCases
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start date of report range
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End date of report range
        - name: limit
          in: query
          schema:
            type: integer
          description: Maximum number of results
        - name: offset
          in: query
          schema:
            type: integer
          description: Pagination offset
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisqualifiedCasesReport"
            text/csv:
              schema:
                type: string
        400:
          description: Invalid date range
        401:
          description: Unauthorized
        403:
          description: CRM feature flag not enabled

  /insights/care-teams:
    get:
      tags:
        - insights
      summary: Get care teams report
      description: Returns care team assignments for all currently active patients, including primary clinician and up to 10 additional team members with their roles
      operationId: getCareTeamsReport
      parameters:
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CareTeamsReport"
            text/csv:
              schema:
                type: string
        401:
          description: Unauthorized

  /insights/encounter-history:
    get:
      tags:
        - insights
      summary: Get encounter history report
      description: Returns encounter history for patients within the specified date range, including encounter details, attendance, billing information, and associated forms
      operationId: getEncounterHistoryReport
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start date of report range (ISO 8601)
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End date of report range (ISO 8601)
        - name: patientIds[]
          in: query
          schema:
            type: array
            items:
              type: string
              format: uuid
          description: Filter by specific patient IDs
          style: form
          explode: true
        - name: creatorUserId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by encounter creator user ID
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterHistoryReport"
            text/csv:
              schema:
                type: string
        400:
          description: Invalid parameters (missing required dates or invalid date format)
        401:
          description: Unauthorized

  /insights/client-event-history:
    get:
      tags:
        - insights
      summary: Get client event history report
      description: Returns a detailed event-level history for patients within the specified date range, including scheduled, occurred, and cancelled events with attendance status and billing information
      operationId: getClientEventHistoryReport
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start date of report range (ISO 8601)
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End date of report range (ISO 8601)
        - name: patientIds[]
          in: query
          schema:
            type: array
            items:
              type: string
              format: uuid
          description: Filter by specific patient IDs
          style: form
          explode: true
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientEventHistoryReport"
            text/csv:
              schema:
                type: string
        400:
          description: Invalid parameters (missing required dates or invalid date format)
        401:
          description: Unauthorized

  /insights/client-attendance-by-status:
    get:
      tags:
        - insights
      summary: Get client attendance by status report
      description: Returns a summary of event counts per attendance status for each client, grouped by program, level of care, and encounter type
      operationId: getClientAttendanceByStatusReport
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start date of report range (ISO 8601)
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End date of report range (ISO 8601)
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientAttendanceByStatusReport"
            text/csv:
              schema:
                type: string
        400:
          description: Invalid parameters (missing required dates or invalid date format)
        401:
          description: Unauthorized

  /insights/form-outcomes:
    get:
      tags:
        - insights
      summary: Get form outcomes report
      description: Returns outcomes data for a specific form definition within the specified date range, including patient information, encounter details, and form field values
      operationId: getFormOutcomesReport
      parameters:
        - name: formDefinitionId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: The form definition ID to get outcomes for
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start date of report range (ISO 8601)
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End date of report range (ISO 8601)
        - name: patientIds[]
          in: query
          schema:
            type: array
            items:
              type: string
              format: uuid
          description: Filter by specific patient IDs
          style: form
          explode: true
        - name: limit
          in: query
          schema:
            type: integer
          description: Maximum number of results to return
        - name: offset
          in: query
          schema:
            type: integer
          description: Number of results to skip for pagination
        - name: csv
          in: query
          schema:
            type: boolean
            default: false
          description: Return as CSV file
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FormOutcomesReport"
            text/csv:
              schema:
                type: string
        400:
          description: Invalid parameters (missing required fields or invalid format)
        401:
          description: Unauthorized

webhooks:
  patient.admit:
    post:
      tags:
        - webhooks
      description: A patient has been admitted to a clinic program
      requestBody:
        content:
          application/json:
            schema:
              properties:
                type:
                  type: string
                  description: The event type
                  example: patient.admit
                data:
                  type: object
                  properties:
                    patientId:
                      type: string
                      description: The ID of the patient
                      example: 182c2e54-3494-4b85-aba5-038cf539d5bf
                    programId:
                      type: string
                      description: The ID of the program the patient was admitted to
                      example: 9a5e64b0-0a73-4cb5-ab32-44fea16da4e1
      responses:
        200:
          description: 200 status indicates that the data was received successfully
  patient.transfer:
    post:
      tags:
        - webhooks
      description: A patient has been transferred from one program to another
      requestBody:
        content:
          application/json:
            schema:
              properties:
                type:
                  type: string
                  description: The event type
                  example: patient.transfer
                data:
                  type: object
                  properties:
                    patientId:
                      type: string
                      description: The ID of the patient
                      example: 182c2e54-3494-4b85-aba5-038cf539d5bf
                    fromProgramId:
                      type: string
                      description: The ID of the program the patient was transferred from
                      example: 9a5e64b0-0a73-4cb5-ab32-44fea16da4e1
                    toProgramId:
                      type: string
                      description: The ID of the program the patient was transferred to
                      example: 1eddacc4-26b1-4e65-bf34-897e3be577c1
      responses:
        200:
          description: 200 status indicates that the data was received successfully
  patient.discharge:
    post:
      tags:
        - webhooks
[...]
